.list{
    list-style: none;
    padding: 0;
}

p{
    margin: 0;
}

.item{
    display: flex;
    justify-content: space-between;
    background-color: rgb(232, 229, 243);
    margin: 2px;
    padding: 2px;
    max-width: 400px;
}

.button{
    padding: 5px;
}